.main-content {
    @at-root body.home {
        .home-menu-link {
            padding: 10px 0 0 0;
            margin-bottom: 20px;
            color: #333333;
            text-align: center;
            a {
                color: #333333;
            }
            h2 {
                margin: 18px 0 14px;
                padding: 0;
                background: none;
                color: #333333;
                border: none;
            }
            p {
                margin-bottom: 0;
                padding: 0 12px;
                line-height: 1.4;
                font-size: 14px;
                text-align: left;
            }
            @include media-sp {
                width: 100%;
                margin-bottom: 0;
                padding-top: 16px;
                padding-bottom: 16px;
                border-bottom: 1px solid #c7cfd0;
                text-align: left;
                &:first-child {
                    padding-top: 0;
                }
                &:nth-last-child(2) {
                    padding-bottom: 0;
                    border: none;
                    margin-bottom: 6px;
                }
                > a {
                    margin: 0;
                }
                > p {
                    padding: 6px 0 0;
                    clear: both;
                }
                h2 {
                    float: left;
                    margin: 10px 8px;
                }
            }
        }
        .home-menu-link-image {
            display: inline-block;
        }
        .home-menu-link-container {
            transition: background-color .3s;
            background-image: url("../img/home_menu_links.png");
            background-size: cover;
            width: 175px;
            height: 175px;
            margin: 0 auto;
            @include media-sp {
                float: left;
                width: 44px;
                height: 44px;
            }
        }
        @mixin css-sprite($color, $hover, $position: 0) {
            .home-menu-link-container {
                background-color: $color;
                background-position: $position 0;
            }
            &:hover .home-menu-link-container {
                background-color: $hover;
            }
        }
        #pspprogramming-link {
            @include css-sprite(#39bc75, #21a160, -350px);
            @include media-sp {
                .home-menu-link-container {
                    background-position: -88px 0;
                }
            }
        }
        #soarer-link {
            @include css-sprite(#48a9e2, #308ecd, -700px);
            @include media-sp {
                .home-menu-link-container {
                    background-position: -176px 0;
                }
            }
        }
        #recotw-link {
            @include css-sprite(#6e587e, #563d69, -525px);
            @include media-sp {
                .home-menu-link-container {
                    background-position: -132px 0;
                }
            }
        }
        #windows-link {
            @include css-sprite(#e73c3c, #cf2424, -875px);
            @include media-sp {
                .home-menu-link-container {
                    background-position: -220px 0;
                }
            }
        }
        #psp-smartphone-link {
            @include css-sprite(#e67e22, #ce660a, -175px);
            @include media-sp {
                .home-menu-link-container {
                    background-position: -44px 0;
                }
            }
        }
        #programming-link {
            @include css-sprite(#f1c40f, #d9ac00);
        }
    }
}
