.crayon-syntax {
    z-index: 1;
    * {
        font-weight: 400 !important;
    }
    .crayon-line, .crayon-num {
        padding: 3px 5px !important;
    }
    .crayon-table .crayon-num {
        border-right-width: 0 !important;
        min-width: 50px !important;
    }
}
.crayon-main, .gist .gist-data {
    -webkit-overflow-scrolling: touch;
}
