.share-button {
    display: inline-block;
    width: 0;
    height: 24px;
    line-height: 1;
    margin: 4px 5px 4px 0;
    border-radius: 6px;
    color: white;
    text-align: center;
    transition: background-color .3s;

    &, i {
        box-sizing: content-box;
        &:hover, &:active, &:focus {
            color: white;
        }
    }
    i {
        font-size: 20px;
        vertical-align: middle;
    }
    @include media-wide-pc {
        margin-right: 7px;
    }

    $services: (
        twitter: (
            hover: (#00b0ed, #009cd9),
            style: (
                padding: 7px 28px 3px 12px,
            ),
        ),
        facebook: (
            hover: (#315096, #1d3c82),
            style: (
                padding: 7px 26px 3px 14px,
            ),
        ),
        google-plus: (
            hover: (#dd4b39, #c93725),
            style: (
                padding: 7px 33px 3px 7px,
                vertical-align: 0,
            ),
        ),
        hatena: (
            hover: (#008fde, #007bca),
            style: (
                padding: 5px 31px 5px 9px,
                vertical-align: 2px,
            ),
        ),
        tumblr: (
            hover: (#35465c, #213248),
            style: (
                padding: 8px 26px 2px 14px,
                vertical-align: -1px,
            ),
        ),
    );

    @each $service, $styles in $services {
        $hover: map-get($styles, hover);
        $style: map-get($styles, style);
        $padding: map-get($style, padding);

        &.#{$service}-icon {
            // Set background-color
            @include hover($hover...);

            // Make larger buttons
            @include media-wide-pc {
                padding: (
                    nth($padding, 1)
                    nth($padding, 2) + 3
                    nth($padding, 3)
                    nth($padding, 4) + 3
                );
            }

            // Apply other styles
            @each $prop, $value in $style {
                #{$prop}: $value;
            }
        }
    }
}
.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
    word-wrap: initial;
    vertical-align: -2px;
}
