* {
    font-family: Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", Meiryo, sans-serif;
    color: #111111;
}
h2 {
    font-size: 20px;
    margin: 32px 0 16px 0;
    padding: 4px 6px 2px 6px;
    background: #efefef;
    color: #444;
    border: 1px solid #d4d4d4;
}
blockquote {
    margin: 0 4px 20px 16px;
    padding: 10px 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}
p {
    padding: 0 3px;
    font-size: 11pt;
    line-height: 1.6;
    margin: 0 0 1.2em;
}
